[package]
name = "parser"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
regex = "1.5.4"
once_cell = "1.8.0"
tokenizer = { path = "../tokenizer" }
node = { path = "../node" }
